
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Pdf Reports</h3>
<br />
<a href="/StaticPdfReport/" class="badge badge-sm bg-gradient-info">Static Pdf Report</a>
<br />
<br />
<a href="/StaticCustomerReport/" class="badge badge-sm bg-gradient-primary">Static Pdf Report</a>
