 @model List<AppUser>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h6>User List</h6>

<table class="table table-bordered">
    <tr>
        <th>Username</th>
        <th>Assign Role</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td><a href="/Admin/Role/AssignRole/@item.Id" class="btn btn-warning">Assign</a></td>
        </tr>
    }

</table>
