
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Excel Reports</h3>
<br />
<a href="/Excel/StaticExcelReport/" class="badge badge-sm bg-gradient-info">Static Excel Report</a>
<br />
<br />
<a href="/Excel/DestinationExcelReport/" class="badge badge-sm bg-gradient-primary">Tour Routes Excel Report</a>
