@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>


    <script type="text/javascript">
        $(document).ready( () => 
        {
            var connection = new signalR.HubConnectionBuilder().withUrl("http://localhost:5130/VisitorHub").build();

            $("#connectionStatus").text(connection.state);

            connection.start().then(() => {
                console.log("Connection started");
                console.log("Connection state:", connection.state);
                $("#connectionStatus").text(connection.state);
            }).catch((err) => {
                console.log("Connection error:", err);
            });



        })</script>
}
<div class="container">
    <br />
    <div class="alert alert-warning">
        Bağlantınızın durumu: <b id="connectionStatus"></b>
    </div>
</div>