@model Traversal.Areas.Admin.Models.MailRequest
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h6>Mailing Page</h6>
<form method="post">
    <div>
        @Html.Label("To:")
        <input type="email" placeholder="receiver mail address" asp-for="Receiver" class="form-control" />
        <span asp-validation-for="Receiver" class="text-danger" style="color:crimson"></span>
    </div>
    <br />
    <div>
        @Html.Label("Subject:")
        <input type="text" placeholder="mail subject" asp-for="Subject" class="form-control" />
        <span asp-validation-for="Subject" class="text-danger" style="color:crimson"></span>
    </div>
    <br />
    <div>
        @Html.Label("Mail content:")
        <textarea cols="30" rows="5" class="form-control" asp-for="Body"></textarea>
        <span asp-validation-for="Body" class="text-danger" style="color:crimson"></span>
    </div>
    <br />
    <div class="text-danger" asp-validation-summary="ModelOnly" style="color:crimson"></div>
    <br />
    <button class="btn btn-primary" style="background-color:crimson">Send</button>
    <br />
</form>