@model Traversal.Models.UserRegisterViewModel

@{
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/colorlib-regform-7/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/colorlib-regform-7/css/style.css">
</head>
<body>

    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="post" class="register-form">

                            <div class="form-group">
                                <label for="Name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" pattern="[^\d]*" placeholder="Your Name" asp-for="Name" />
                                <span asp-validation-for="Name" class="text-danger" style="color:crimson"></span>
                            </div>

                            <div class="form-group">
                                <label for="Surname"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" pattern="[^\d]*" id="Surname" placeholder="Your Surname" asp-for="Surname" />
                                <span asp-validation-for="Surname" class="text-danger" style="color:crimson"></span>
                            </div>

                            <div class="form-group">
                                <label for="Email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" placeholder="Your Email" asp-for="Email" />
                                <span asp-validation-for="Email" class="text-danger" style="color:crimson"></span>
                            </div>
                          
                            <div class="form-group">
                                <label for="Phone Number"><i class="zmdi zmdi-phone"></i></label>
                                <input type="tel" placeholder="Phone Number (05**5**5*5*)" asp-for="Phone" />
                                <span asp-validation-for="Phone" class="text-danger" style="color:crimson"></span>
                            </div>
                        <div class="form-group">
                             <label for="Gender"><i class="zmdi zmdi-male-female"></i></label>
                                 <div style="left:25px;position: relative; display: inline-block;">
                                    @Html.DropDownListFor(x=>x.Gender,(List<SelectListItem>)Model.GenderOptions, new { style = "width: 120px;" })
                                    
                                    <div style="position: absolute; top: 50%; transform: translateY(-50%); right: 10px;">
                                    <i class="zmdi zmdi-caret-down" style="font-size: 25px;"></i>
                                    </div>
                                 </div>     
                        </div>
                            <span asp-validation-for="Gender" class="text-danger" style="color:crimson"></span>

                            <div class="form-group">
                                <label for="Age"><i class="zmdi zmdi-cake"></i></label>
                                <input type="number" min="18" max="100" placeholder="Age" asp-for="Age" />
                                <span asp-validation-for="Age" class="text-danger" style="color:crimson"></span>
                            </div>

                            <div class="form-group">
                                <label for="Username"><i class="zmdi zmdi-account-box"></i></label>
                                <input type="text" placeholder="Username" asp-for="Username" />
                                <span asp-validation-for="Username" class="text-danger" style="color:crimson"></span>
                            </div>

                            <div class="form-group">
                                <label for="Password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" asp-for="Password" placeholder="Password" />
                                <span asp-validation-for="Password" class="text-danger" style="color:crimson"></span>
                            </div>

                            <div class="form-group">
                                <label for="ConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" asp-for="ConfirmPassword" placeholder="Repeat your password" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger" style="color:crimson"></span>
                            </div>

                            <div class="text-danger" asp-validation-summary="ModelOnly" style="color:crimson"></div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />

                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input style="background-color:crimson" type="submit" class="form-submit" />
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="~/colorlib-regform-7/images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="/Login/SignIn" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- JS -->
    <script src="~/colorlib-regform-7/vendor/jquery/jquery.min.js"></script>
    <script src="~/colorlib-regform-7/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->