
@{
    ViewData["Title"] = "getCityId";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h7>Booking City ID Informations for Hotels</h7>
<br />
<form method="post">
    <label>City Name</label>
    <input type="text" class="form-control" name="city"/>
    <br />
    <button class="btn btn-outline-primary">get city id</button>
</form>
